:root {
    --background: rgb(10, 10, 10);
    --accent: rgb(19, 19, 19);
    --accent-dark: rgb(32, 32, 32);
    --text: rgb(165, 165, 165);
    --primary: dodgerblue;
    --br: 10px;
}

.search-bar:focus + .input-icon {
    filter: invert(40%) sepia(77%) saturate(1115%) hue-rotate(187deg) brightness(100%) contrast(104%) !important;
}

.input-icon {
    filter: invert(70%) sepia(8%) saturate(0%) hue-rotate(149deg) brightness(98%) contrast(75%) !important;
}

.navigation-link:not(.selected-link) svg {
    filter: invert(70%) sepia(8%) saturate(0%) hue-rotate(149deg) brightness(98%) contrast(75%) !important;
}

.navigation-link:hover > svg {
    filter: invert(40%) sepia(77%) saturate(1115%) hue-rotate(187deg) brightness(100%) contrast(104%) !important;

}

.reaction img {
    filter: brightness(0) invert(70%) sepia(8%) saturate(0%) hue-rotate(149deg) brightness(98%) contrast(75%);
}

.theme-icon {
    filter: invert(70%) sepia(8%) saturate(0%) hue-rotate(149deg) brightness(98%) contrast(75%) !important;
}

.bookmark {
    filter: invert(14%) sepia(7%) saturate(16%) hue-rotate(314deg) brightness(99%) contrast(103%);
}